In [1]:
import pandas as pd

In [9]:
train_df = pd.read_csv("house_price_đống đa.csv")

In [11]:
train_df.shape

(1000, 18)

In [10]:
#Find the total number of missing values from the entire dataset
train_df.isnull().sum().sum()

4129

In [12]:
#Delete the entire row
df = train_df.dropna(axis=0)
df.isnull().sum()

title                0
address              0
area                 0
price                0
postDate             0
land_certificate     0
house_direction      0
balcony_direction    0
toilet               0
bedroom              0
floor                0
type_of_land         0
street_name          0
ward_name            0
district_name        0
city_name            0
lat                  0
long                 0
dtype: int64

In [13]:
df.shape

(14, 18)

In [15]:
df = train_df.drop(['area'],axis=1)
df.isnull().sum()

title                  0
address                0
price                 56
postDate               0
land_certificate     307
house_direction      956
balcony_direction    976
toilet               449
bedroom              365
floor                624
type_of_land           0
street_name          192
ward_name            198
district_name          0
city_name              0
lat                    0
long                   0
dtype: int64

In [17]:
df.shape

(1000, 17)

In [18]:
#Replace the missing value with '0' using 'fiilna' method
train_df['address'] = train_df['address'].fillna("Chưa xác định")
train_df['address'].isnull().sum()

0

In [19]:
#Replace the missing values for categorical columns with mode
train_df['price'] = train_df['price'].fillna(train_df['price'].mode()[0])
# train_df['Married'] = train_df['Married'].fillna(train_df['Married'].mode()[0])
# train_df['Self_Employed'] = train_df[‘Self_Employed'].fillna(train_df['Self_Employed'].mode()[0])
# train_df.isnull().sum()